.description {
    margin-bottom: 30px;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.03em;
}

.btn-services {
    display: block;
    width: 255px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.03em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 1199px) {

    .description {
        width: 690px;
        height: 366px;
        font-size: 35px;
        line-height: 48px;
    }
}

@media (max-width: 767px) {

    .about {
        padding-top: 80px;
    }
    
    .description {
        width: 346px;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 30px;
        letter-spacing: -0.02em;
        height: 300px;
    }

    .btn-services {
        width: 194px;
        height: 51px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 51px;
    }
}